<section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/3-cay" class="brand">guys</a>
                
            </div>
        </div>
    </nav>
</section>
<section class='container'>
<div class='row'>
	<div class='span9 offset1 alert alert-info'>
		<h4> thank your for contacting us. we respect your ideas and will respond as soon as possible!</h4>
	</div>
</div>
</section>


<footer class="container footer-box">   
    <hr class="shadow-line" />         
    <nav class="links">             
        <a href="#">contact us</a>
        <a href="#">tos and privacy</a>
        <a href="#">feedback</a>                   
    </nav>  
    <nav class="links">   
        <a href="#"><%= image_tag 'twitter-icon.png' %></a>
        <a href="#"><%= image_tag 'facebook-icon.png' %></a>   
        <a href="#"><%= image_tag 'googleplus-icon.png' %></a>      
    </nav>                 
    <p>we are <strong>excited</strong></p>           
</footer>
